@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  
}

.App {
  min-height: 100%;
  background-color: #fcf7f7;
  position: absolute;
  height: 80%;
}

div.container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80%;
  height: 50%;
  border-radius: 2px;
  padding: 25px 25px 25px 20px;
  background-color: #F0F0F0;
  text-align: -webkit-center;
  letter-spacing: 0.05em;
  line-height: 1.75;
  outline: 0;
  position: relative;
  text-decoration: none;
  
 
}


div.row p-2 {
  text-transform: capitalize;
}

div.row p-2,
div.row p-3 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  font-size: 1.3em;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.json {
  white-space: "pre-wrap";
}


.upperCase {
  font-size: 1.3em;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  color: #0C2340;
}

h2 {
  text-transform: none;
  text-align: center;
  padding-top: 2%;
}

.Card {
  width: '18rem';
  background-color: #0C2340;
}

.startImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.background {
  background-color: #fefeff;
}

.row {
  width: 96%;
  max-width: 3500px;
}

.banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}
.banner-text { width: 100%; }
.imgComputer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 80%;
}
.imgmobile{
  display: none;
}
.banner-text h3 {
  font-size: 3vh;
  color: #0C2340;
  margin: 0 auto;
  padding-top: 0%;
  width: 70%;
}

.banner-text h3 span,
.banner-text h3 a {
   color: #fff;
}

.banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #0C2340;
  border-color: rgba(150, 150, 150, .1);
}

.social {
  margin: 24px 0;
  padding: 0;
  font-size: 15pt;
}
.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.social li a { color: #0C2340 }
.social li a:hover { color: #0762f9; }

.button {
  background: #0C2340;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fefeff;
  padding: 10px 10px;
  margin-bottom: 18px;
  cursor: pointer;
  height: auto;
  transition: all .2s ease-in-out;
  border-radius: 4px;
}
.button:hover {
  transition: all 0.2s ease-in-out;
  color: #889aa5;
}

.NavBtnLink {
  border-radius: 4px;
  background: #fefeff;
  padding: 10px 22px;
  color: #0d2240;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  /* Second Nav */
  margin-left: 24px;

}
.NavBtnLink:hover {
  transition: all 0.2s ease-in-out;
  color: #889aa5;
}

.Link {
  text-decoration: none;
  color: #F0F0F0;
}

.Link:hover{
  color: #889aa5;
}

.SideBtnWrap{
  border-radius: 50px;
    background: #0C2340;
    padding: 16px 64px;
    color: #F0F0F0;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.SideBtnWrap:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606;
    }
div.card-img {
  width: 300px;
}

.response {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  resize: vertical;
  text-align: left;
  padding: 0 0;
}

.footer{
  border-top: '1px solid #ddd';
  padding: 2vh;
  height: 10vh;
  line-height: '10vh';
  background: radial-gradient(circle, rgba(13, 34, 64, 1) 0%, rgba(19, 46, 84,1) 100%);
  position: relative;
  left:0;
  bottom:0;
  right:0;
  margin-top: 10%;
}
.footer p{
  color: rgba(255, 255, 255, 0.90);
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 1em;
  display: block;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width:100%;
}

.containr {
  padding: 0 16px;
}

.containr::after, .ro::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media only screen and (max-width: 1060px){
  div.container{
    background-color: #f0f0f0;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    height: auto;
  }
  .imgmobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 100%;
  }
  .imgcomputer{
    display: none;
  }
  .banner-text h3 {
    font-size: 2vh;
    color: #0C2340;
    margin: 0;
    padding-top: 4%;
    width: auto;
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 1%;
  }
  .column {
    width: 100%;
    display: block;
  }


}